html {
  font-size: 10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(4,100px);
  grid-template-areas:
  ". W . . . I ."
  "A S D . J K L"
  ". . . . . . ."
  ". . X X X . .";
  justify-content: center;
  align-content:center;
  gap: 1em;
}
.key[data-key="87"] {grid-area: W;}
.key[data-key="83"] {grid-area: S;}
.key[data-key="65"] {grid-area: A;}
.key[data-key="68"] {grid-area: D;}
.key[data-key="73"] {grid-area: I;}
.key[data-key="74"] {grid-area: J;}
.key[data-key="75"] {grid-area: K;}
.key[data-key="76"] {grid-area: L;}
.key[data-key="32"] {grid-area: X;}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: #ff004f66;
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
